<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delivery Fee Calculator</title>
    <script src="/deliveryForm.js"></script>
    <link rel="stylesheet" href="/inputForm.css">
</head>
<body>
<div class="container">
    <h2>Select City and Transport Type</h2>
    <form id="deliveryForm" method="post">
        <label for="city">City:</label>
        <select id="city" name="city">
            <option value="Tallinn-Harku">Tallinn</option>
            <option value="Tartu-Tõravere">Tartu</option>
            <option value="Pärnu">Pärnu</option>
        </select><br><br>
        <label for="vehicleType">Transport Type:</label>
        <select id="vehicleType" name="vehicleType">
            <option value="Car">Car</option>
            <option value="Scooter">Scooter</option>
            <option value="Bike">Bike</option>
        </select><br><br>

        <button type="button" onclick="submitForm('json')">Calculate Delivery Fee (JSON)</button>
        <button type="button" onclick="submitForm('html')">Calculate Delivery Fee (HTML)</button>
    </form>
</div>
</body>
</html>
